
      *{font-family:pretendard 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; color:black;}
        nav{background-color: rgb(121, 145, 78);}
        header{
            background-color: rgb(169, 169, 106);
            text-align:center;
            padding:10px
        }
        section{background-color: bisque;}
        footer{
            background-color: rgb(48, 138, 37);
            text-align:center;
            padding:10px
        }
        article{background-color: white;}
        a{color:rgb(42, 42, 42)}
        h1{color:white;}
        h2{color:darkgreen;}
        h4{color:white;}
        .foot-p{color:white;}
        header > p{color:white;}
